@import "tailwindcss";

:root {
  --primary: #006184;
  --primary-dark: #004c66;

  --background: #f7f7f5;

  --surface: white;

  --border: #dddddd;

  --text: #222;

  --muted: #666;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

@media print {

  .site-header,
  footer,
  nav,
  button {
    display: none !important;
  }

  .meeting-header {
    display: block !important;
  }

  body {
    background: white;
  }

  main {
    max-width: 100%;
    padding: 0;
  }
}